<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1><a href="/">Codecool Shop</a></h1>
</div>

<div class="container" style="text-align: center; margin: auto;" th:if="${product_map.size() != 0}">

    <h2>Cart content</h2>
    <br>

    <div class="card">

        <table>
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Product quantity</th>
                    <th>Unit price (USD)</th>
                    <th>Sub total (USD)</th>
                </tr>
            </thead>
            <tbody>
                <div class="row">
                    <tr th:each="product : ${product_map}" class="col col-4">

                        <td>
                            <div class="card" style="margin: 10px;">
                                <div class="card-header">
                                    <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${product.key.id} + '.jpg'" alt="" />
                                    <h4 th:text="${product.key.name}"></h4>
                                    <p class="card-text" th:text="${product.key.description}">Product description... </p>
                                </div>
                            </div>
                        </td>

                        <td class="col col-4" style="font-size: 32px">
                            <form action="/cart-remove" method="post" style="display: inline-block">
                                <input type="hidden" name="product_id" th:value="${product.key.id}">
                                <input type="submit" value="-"/>
                            </form>

                            <span th:text="${'  ' + product.value + '  '}" style="white-space: pre"></span>

                            <form action="/cart-add" method="post" style="display: inline-block">
                                <input type="hidden" name="product_id" th:value="${product.key.id}">
                                <input type="submit" value="+"/>
                            </form>

                            <br><br>
                            <form action="/cart-removeall" method="post">
                                <input type="hidden" name="product_id" th:value="${product.key.id}">
                                <input type="submit" value="Remove all"/>
                            </form>
                        </td>

                        <td class="col col-2" th:text="${product.key.defaultPrice}"></td>

                        <td class="col col-2" th:with="fullprice=${product.value * product.key.defaultPrice}">
                            <span th:text="${fullprice}"></span>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

</div>

<div th:if="${product_map.size() == 0}" style="text-align: center">
    <h2>Cart empty</h2>
    <br>
</div>

<br>
<div th:replace="footer.html :: copy"></div>

</body>
</html>