<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Checkout</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="/static/js/extendAddressForm.js" defer></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css" />
</head>

<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><a href="/">Codecool Shop</a></h1>
    </div>

    <div class="container">
        <div class="container row">
            <form action="/checkout" method="post">
                <div class="card">
                    <h3>Personal information:</h3>

                    <label for="buyer-name-input">Full Name:</label><br>
                    <input id="buyer-name-input" type="text" name="buyer-name" required minlength="1"><br>

                    <label for="buyer-email-input">Email address:</label><br>
                    <input id="buyer-email-input" type="email" name="buyer-email"><br>

                    <label for="buyer-phone-number-input">Phone number:</label><br>
                    <input id="buyer-phone-number-input" type="tel" name="buyer-phone-number" required minlength="1"><br>
                </div>

                <div class="card">
                    <h3>Billing Address:</h3>

                    <label for="buyer-billing-country-input">Country:</label><br>
                    <input id="buyer-billing-country-input" type="text" name="buyer-billing-country" required minlength="1"><br>

                    <label for="buyer-billing-city-input">City:</label><br>
                    <input id="buyer-billing-city-input" type="text" name="buyer-billing-city" required minlength="1"><br>

                    <label for="buyer-billing-zip-input">Zip code:</label><br>
                    <input id="buyer-billing-zip-input" type="text" name="buyer-billing-zip" required minlength="4"><br>

                    <label for="buyer-billing-address-input">Address:</label><br>
                    <input id="buyer-billing-address-input" type="text" name="buyer-billing-address" required minlength="1"><br>
                </div>

                <div class="card" id="extended-address-input-placeholder">
                    <!-- new div from javascript is inserted here -->
                </div>

                <div id="address-difference">
                    <p>Is my shipping address different than my billing address?</p>
                    <input type="radio" required name="same-shipping-address" id="different-shipping-address" value="Yes">
                    <label for="different-shipping-address">Yes</label>
                    <input type="radio" required name="same-shipping-address" id="same-shipping-address" value="No">
                    <label for="same-shipping-address">No</label><br>
                </div>

                <div id="checkout-submit">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>